{% extends 'base.html' %}

{% block content %} 
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">
                        Shopping Cart
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart </p>
                </div>
            </div>
        </header>

        <div class="container">
            {% if cart_products %}
            {% for product in cart_products %}

            <div class="container">
                    <br/>
                    <br/>

                    <div class="card mb-3">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="Book image">
                        </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h4 class="card-title">{{ product.name }}</h4>
                                </br>
                                <p class="card-text"> <strong>AUTHOR: </strong>  {{ product.author }}</p>
                                <p class="card-text"><strong>DESCRIPTION: </strong> {{ product.description }}</p>

                                {% if product.is_sale %} 
                                
                                रु <strike>{{ product.price }}</strike>
                                &nbsp;
                                <p class="card-text"> <strong>SALE PRICE: </strong> रु {{ product.sale_price }}
                                <br/>
                                {% else %}
                                <p class="card-text"> <strong>PRICE: </strong>  {{ product.price }}
                                </p>               
                                {% endif %}

                                <div class="row justify-content-center">
                                    <div class="col-md-2">Quantity:</div>
                                    <div class="col-md-2">
                                      <select class="form-select form-select-sm" 
                                      id="select{{product.id}}">

                                      
                                        {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                            <option selected>{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                      

                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        
                                      </select>
                                    </div>
                                  </div>
                                <br/>
                                
                                <!-- <div class="d-flex justify-content-center align-items-center" > -->
                                <!-- <div class="mx-auto" style="width: 200px;"> -->
                                    <center>
                                <a href="{% url 'home' %}" class="btn btn-secondary " > Home </a>      

                                <button type="button" data-index="{{ product.id }}" class="btn btn-info update-cart" >Update</button>
                                
                                <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product" >Remove</button>
                                </center>
                               
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {% else %}
            There is nothing in your Cart..
            {% endif %}
            <br/><br/><br/><br/>
            <br/><br/><br/><br/> 
            <br/><br/><br/><br/> 
            <br/><br/><br/><br/> 

        </div>
     

<br/><br/><br/><br/>      



<script>
    // UPDATE CART
    $(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    // grab the product id
    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: "{% url 'cart_update' %}",
    data: {
        product_id :$(this).data('index'),
        product_qty : $('#select' + productid +'option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',   
        action: 'post',    
    },
        
    success: function(json){
            // console.log(json)
            // document.getElementById("cart_quantity").
            // textContent = json.qty
            location.reload();
        },

    error: function(xhr, errmsg, err){

        }

    });
    })


    // DELETE item from CART
    $(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // grab the product id
    // var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: "{% url 'cart_delete' %}",
    data: {
        product_id :$(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',   
        action: 'post',    
    },
        
    success: function(json){
            // console.log(json)
            // document.getElementById("cart_quantity").
            // textContent = json.qty
            location.reload();
    },

    error: function(xhr, errmsg, err){

        }

    });

    })












</script>

{% endblock %}  