{% extends 'base.html' %}
{% block content %} 

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">
                    About us!! 
                </h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To New Hirabooks</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row" color: >
            <center>
                <div class="col-8">
                    <h2> FAQs  </h2> 
                    <p><h3>Q.What discounts do you offer?</h3></br>
                        <p align="jusitfy">Discount deals are as mentioned in the deals section of our website. Please note that discount coupons can not be applied to the books in our 'deals' section and that they are valid for a limited period of time.
                    </br>
                    <h3>Q.Is there Free Delivery on some books?</h3></br>
                        Yes, there is free delivery within Kirtipur. You'll find the free delivery icon on the book's listing and on it's product page if there's free delivery available on the book. Some of the bundle offers included in our deals section also have free delivery on them. 
                        If you've purchased two or more books where only one of the books has free delivery on it, please note that the weight based shipping charge that you'll be charged will account for the weight of only those books that do not have free delivery.
                    </br>
                    <h3>Q.What is your refund policy?</h3></br>
                        Please contact us within 2 days from the date of delivery. If the ordered product is damaged, defective, incorrect or incomplete at the time of delivery.  Those who have purchased from the physical store as books purchased from the physical store are not eligible for return or exchange.
                    </br>
                    <h3>Q.Can you deliver gifts?</h3></br>
                        To place an order as a gift, Just add the books to cart and while checking out, make sure to enter the name and contact details of the receiver. If you'd like to get updates related to the order, you can add your own email address. You will also have to make a pre-payment through the payment gateways integrated to the website.    
                    </p></br>

                </div>
            </center>
        </div>
    </div>

<!-- <style>
.row {
  color: #777; /* Replace $gray-200 with a valid color value */
}
</style> -->

{% endblock %}

